.header{
    padding: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.logoIcon{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    border: 1px solid #f0f0f0;
}

.headerList{
    padding: 20px;
}

.headerList > ul{
    display: flex;
    list-style-type: none;
    margin-right: 120px;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;

}

.headerList > ul > li{
    padding: 10px;
    margin-right: 10px;
}

.bdy-container{
    padding: 60px;
}

.body{
    display: flex;
    background-color: #040404;
    padding-left: 50px;
}

.restaurantCard{
    width: 200px;
    height: 370px;
    background-color: #f0f0f0;
}

.restImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}


.restaurantCard{
    margin: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;         
}

.restaurantCard h3 {
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis;
}

.foodPageContainer{
    background-color: aqua;
}

.restaurantCard:hover{
    transform: scale(1.1);
}

.imageRestaurant{
    width: 100%;
    height: 50%;
}

.bdy-hdr{
    display: flex;
}

/* .resturantName{
    
} */

.search{
    margin: 30px;
    display: flex;
}

.btn-filter{
    margin: 30px;
}


