.header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logoIcon{
    width: 150px;
    height: 150px;
    margin-left: 10px;
}

.headerList{
    padding: 20px;
}

.headerList > ul{
    display: flex;
    list-style-type: none;
    margin-right: 120px;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.headerList > ul > li{
    padding: 10px;
    margin-right: 10px;
}

.bdy-container{
    background-color: #fff6f6;

}

.body{
    background-color: #fff6f6;
    width: 100%;
    height: 100%;
}

.restaurantCard{
    width: 230px;
    height: 420px;
}

.restImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px; 
}

.cardContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: center;
}


.restaurantCard{
    margin: 20px;
    text-align: center;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;         
}

.restaurantCard h3 {
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Basis Grotesque Pro";
    color: rgba(2, 6, 12, 0.75);
}

.foodPageContainer{

}

.restaurantCard:hover{
    transform: scale(0.9);
}

.imageRestaurant{
    width: 100%;
    height: 50%;
}

.bdy-hdr{
    display: flex;
}

/* .resturantName{
    
} */

.search{
    margin: 30px;
    display: flex;
}

.btn-filter{
    margin: 30px;
}

.rst-txt {
    display: grid;
    cursor: pointer;
    gap: 12px;
    grid-auto-flow: row;
    text-decoration: none;
   
}

.rst-txt h3,
.rst-txt h4 {
    margin: 0; /* Remove margin for h3 and h4 tags */
    text-decoration: none;
}

.cusines{
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis;
}

.star-img{
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.link{
    text-decoration: none;
}

.searchText{
    border-radius: 40px;
}

.searchIcon{
    width: 30px;
    height: 30px;
    cursor: pointer;

}



